body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* nav section */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gamer-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 80px;
}

.gamer-icon-png {
    width: 40px;
    height: 25px;
}

.gamer-icon h3 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.G {
    color: #FF42A5;
}

.nav-list {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

.follow-on {
    border: 0px;
    border-radius: 5px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.follow-on-icon {
    width: 22px;
    height: 22px;
}

/* banner section */

.banner-image1 {
    width: 600px;
    height: 400px;

}

.banner-image2 {
    width: 400px;
    height: 400px;
    margin-left: 200px;
}

.banner-container {
    display: flex;
    gap: 10px;
    height: 500px;
}

.right-side-content {
    position: relative;
    bottom: 350px;
    text-align: center;
    margin-right: 40px;
}

.right-side-content .play-like-that {
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.right-side-content .goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    margin-top: -25px;

}

.right-side-content .content-title {
    text-align: left;
    margin-top: -30px;
    margin-left: 190px;
    font-size: 12px;
    /* margin-bottom: 20px; */
}

.btn-container {
    color: white;
    font-size: 20px;


}

.signin {
    border-radius: 10px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 8px;
    border: 0px;
    font-size: 15px;

}

.gorogue {
    border-radius: 10px;
    background-color: #4EC5F7;
    padding: 8px;
    border: 0px;
    margin-left: 10px;
    font-size: 15px;

}

.card-headings {
    text-align: center;
    margin-bottom: 50px;
}

.card-title {
    font-size: 30px;
    margin-bottom: -5px;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-image-container {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: 0px 120px;
}

.card-image-container p {
    font-size: 10px;
}

.card-image-container img {
    width: 250px;
    height: 250px;
}

/* section 2 */
.new-game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
    /* margin-right: 80px; */
}

.new-game1 {
    /* text-align: center; */
    margin-left: 300px;
}

.new-game1-heading {

    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    width: 200px;

}

.play-instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.new-game-img{
    margin-right: 100px;
}

.new-game1-des {
    font-size: 10px;
    margin-top: -15px;
}

.new-game-demoimg {
    position: relative;
    bottom: 120px;
    right: 50px;
}

.gameimg1 {
    width: 500px;
    height: 500px;
}

.tailimg1 {
    width: 200px;
    height: 200px;
}
/* carrer section */
.carrer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #FF42A5;
    font-family: open sans;
    
}

.carrer-img{
    width: 50%;
    /* margin-right: 50px; */
}



.carrer-point{
    display: flex;
    gap: 40px;
    margin-top: 0px;
}

.carrer{
    width: 50%;
    padding-left: 100px;
    color: white;
}

 .carrer-img2{
    width: 700px;
    height: 600px;
}
.carrers p{
    font-size: 12px;
}





.btn-primary{
    color:#FF42A5;
    border-radius: 10px;
   background-color: white;
    padding: 8px;
    border: 0px;
    font-size: 15px;

}

.games-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin: 40px;
    margin-left: 100px;
}

.game{
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
}

.game>img{
    width: 35px;
    margin-right: 10px;
}

.game>h4{
    font-size: 12px;
    font-family: open sans;
}

.game:hover{
    border: 1px solid pink;
    border-radius: 50px;
    color: #FF42A5;
    padding-left: 20px;
}

.footer-container{
    background-color: #0B0223;
}

.gamer-footer-icon{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color: white;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    color: white;
    font-size: 15px;
}

.tap-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.tap-icon img{
    width: 30px;
    height: 30px;
}

.terms-condition>ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
font-size: 10px;
color: white;
margin: 30px 0px;
}

.footer-end{
    text-align: center;
    font-size: 10px;
    color: white;
    margin-top: 100px;
    padding-bottom: 50px;
}


/* mobile device responsive */
@media screen and (max-width:576px) {

    .nav-container,
    .nav-list,
    .card-image-container,
    .new-game-container {
        flex-direction: column;
    }

    .carrer-container{
        flex-direction: column;
    }

    .carrer-img{
        width: 50%;
        margin-right:auto;
    }

    .carrer-point{
        margin-top: -10px;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-image2 {
        height: 50px;
        width: 50px;
    }

    /* .left-banner-img{
        height: 50px;
        width: 50px;
    } */


    .card-headings {
        margin-left: 100px;
    }

    .play-like-that,
    .goat {
        margin-left: 150px;
    }

    .card-img {
        size: 100%;
    }

    .card-image-containerp{
        text-align: center;
    }

    .new-game1{
        margin-left: 10px;
    }

    .games-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top:100px;
        margin-bottom: 100px;
        margin-left: 100px;
        /* margin-right: 100px; */
        
        gap: 10px;
    }

    .footer-nav>ul{
        display: grid;
        grid-template-columns:repeat(3,1fr);
    }

    .tap-icon{
        display: grid;
        grid-template-columns: repeat(2.1fr);
       justify-content: center;
    }

}