body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* nav section */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gamer-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 80px;
}

.gamer-icon-png {
    width: 40px;
    height: 25px;
}

.gamer-icon h3 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.G {
    color: #FF42A5;
}

.nav-list {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

.follow-on {
    border: 0px;
    border-radius: 5px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.follow-on-icon {
    width: 22px;
    height: 22px;
}

/* banner section */

.banner-image1 {
    width: 600px;
    height: 400px;
   
}

.banner-image2 {
    width: 400px;
    height: 400px;
    margin-left: 200px;
}

.banner-container {
    display: flex;
    gap: 10px;
    height: 500px;
}

.right-side-content {
    position: relative;
    bottom: 350px;
    text-align: center;
    margin-right: 40px;
}

.right-side-content .play-like-that {
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.right-side-content .goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    margin-top: -25px;
   
}

.right-side-content .content-title{
    text-align: left;
    margin-top: -30px;
    margin-left: 190px;
    font-size: 12px;
    /* margin-bottom: 20px; */
}

.btn-container{
    color: white;
    font-size: 20px;
    

}

.signin{
    border-radius: 10px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
padding: 8px;
border: 0px;
font-size: 15px;

}

.gorogue{
    border-radius: 10px;
    background-color: #4EC5F7;
    padding: 8px;
    border: 0px;
    margin-left: 10px;
    font-size: 15px;
    
}