body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* nav section */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gamer-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 80px;
}

.gamer-icon-png {
    width: 40px;
    height: 25px;
}

.gamer-icon h3 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.G {
    color: #FF42A5;
}

.nav-list {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

.follow-on {
    border: 0px;
    border-radius: 5px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.follow-on-icon {
    width: 22px;
    height: 22px;
}